.intro {
    font-size: 20px;
    margin-bottom: 3rem;
    text-indent: 2rem;
}

/* Materialize CSS to keep footer at the bottom */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

.brand-logo, .copyright-text{
    margin-left: 5%;
    padding-top: 2%;
  }


.footer-icon {
    font-size: 2rem;
    padding: 2rem;
}

footer {
    margin-top: 3rem;
}


/* Media Query for Mobile Devices */ 
    @media (max-width: 480px) { 
        .footer-icon {
            font-size: 20px;
            padding: 10px;
        }
    }