{% extends "base.html" %}
{% block content %}

    <h3 class="center light-green-text text-darken-4">Add New Game</h3>
    <div class="container">
        <div class="card ">
            <form class="col s6" method="POST" action="{{ url_for('add')}}">
                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        <i class="far fa-folder-open  deep-orange-text text-accent-3 prefix"></i>
                        <select id="category_name" name="category_name" class="validate" required>
                            <option value="" disabled selected>Choose Category</option>
                            {% for category in categories%}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="category">Category</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        <i class="fas fa-pencil-alt deep-orange-text text-accent-3 prefix"></i>
                        <input id="game_name" name="game_name" type="text" class="validate" required>
                        <label for="game_name">Game Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        <i class="fas fa-child prefix"></i>
                        <input id="age_range" name="age_range" type="text" class="validate" required>
                        <label for="age_range">Age Range</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        <i class="fas fa-users prefix"></i>
                        <input id="number_of_players" name="number_of_players" type="text" class="validate" required>
                        <label for="number_of_players">Number Of Players</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        <i class="fas fa-link prefix"></i>
                        <input id="link_to_shop" name="link_to_shop" type="text" class="validate" required>
                        <label for="link_to_shop">Link To Shop</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        <i class="far fa-image prefix"></i>
                        <input id="image_url" name="image_url" value="" type="text" class="validate" required>
                        <label for="image_url">Image URL</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        <i class="far fa-file-alt prefix"></i>
                        <textarea id="description" name="description" class="materialize-textarea" max-length="1300" required></textarea>
                        <label for="description">Description</label>
                    </div>
                </div>
                <button type="submit" class="btn-large text-shadow right" id="add-game">Add Game</button>
            </form>
        </div>
    </div>


{% endblock %}