{% extends "base.html" %}
{% block content %}

    <h2 class="center">Edit Game</h2>
    <div class="container">
        <!-- <div class="card "> -->
            <form class="col s6" method="POST" action="{{ url_for('edit_game', game_id=game._id)}}">
                <div class="row">
                    <div class="input-field col s10 m8 offset-m2">
                        <i class="far fa-folder-open prefix"></i>
                       <select id="category_name" name="category_name" class="validate" required>
                            <option value="" disabled selected>Choose Category</option>
                            {% for category in categories%}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="category">Category</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10 m8 offset-m2">
                        <i class="fas fa-pencil-alt prefix"></i>
                        <input id="game_name" name="game_name" type="text"
                            value="{{ game.game_name }}" class="validate" required>
                        <label for="game_name">Game Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10 m8 offset-m2">
                        <i class="fas fa-child prefix"></i>
                        <input id="age_range" name="age_range" type="text"
                            value="{{ game.age_range }}" class="validate" required>
                        <label for="age_range">Age Range</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10 m8 offset-m2">
                        <i class="fas fa-users prefix"></i>
                        <input id="number_of_players" name="number_of_players"
                            value="{{ game.number_of_players }}" type="text" class="validate" required>
                        <label for="number_of_players">Number Of Players</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10 m8 offset-m2">
                        <i class="fas fa-link prefix"></i>
                        <input id="link_to_shop" name="link_to_shop" type="text"
                            value="{{ game.link_to_shop }}" class="validate" required>
                        <label for="link_to_shop">Link To Shop</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10 m8 offset-m2">
                        <i class="far fa-image prefix"></i>
                        <input id="image_url" name="image_url" type="text"
                            value="{{ game.image_url }}" class="validate" required>
                        <label for="image_url">Image URL</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10 m8 offset-m2">
                        <i class="far fa-file-alt prefix"></i>
                        <textarea id="description" name="description" class="materialize-textarea">
                            {{- game.description -}}
                        </textarea>
                        <label for="description">Description</label>
                    </div>
                </div>
                <button type="submit" class="btn-large text-shadow right">Edit Game</button>
            </form>
        <!-- </div> -->
    </div>


{% endblock %}