{% extends "base.html" %}
{% block content %}
    <h3 class="center">All Games</h3>
    <div class="row">
        {% for game in games %}
    
            <div class="col s12 m8 offset-m2 l4">
                <div class="card medium hoverable">
                    <div class="card-content">
                        <span class="card-title center activator grey-text text-darken-4"><strong>{{ game.game_name }}</strong></span>
                    </div>
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{ game.image_url}}">
                    </div>
                    <div class="card-content center">
                        <a class="waves-effect waves-light btn text-shadow green darken-2 z-depth-3 hoverable"
                            href="{{ game.link_to_shop }}" target="_blank">Buy Here</a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title center grey-text text-darken-4"><strong>{{ game.game_name }}</strong><i class="fas fa-times right"></i></span>
                        <span>Category: {{ game.category_name }}</span><br>
                        <span>Age: {{ game.age_range }}</span><br>
                        <span>Number of players: {{ game.number_of_players }}</span>
                        <p>{{ game.description }}</p>
                        <div class="center">
                            <a href="{{ url_for('edit', game_id=game._id) }}" class="btn center small blue darken-3">Edit</a>
                            <a href="{{ url_for('delete', game_id=game._id)}}" class="btn center small red darken-1">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
    
        {% endfor %}
    
    </div>
    
{% endblock %}